body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DESDE ACA PODRIAMOS TODO EL CSS */
html{
}

header {
  width: 100%;
}


main{
  width: 100%;
}

footer{
}

.creations-mobile {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.creations-mobile img {
  width: 100%;
  height: auto;
}

.creations-mobile p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.2rem;
}

.creations-desktop {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.creations-desktop img {
  width: 100%;
  height: auto;
}

.creations-desktop p {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
}

